
.vs/ReplicateDesignII/v16
.vs/ReplicateDesignII/DesignTimeBuild/.dtbcache
ReplicateDesignII/ReplicateDesignII/bin
ReplicateDesignII/ReplicateDesignII/obj
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/android/bin/classes.zip
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/android/bin/classes/mono/MonoPackageManager_Resources.class
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/android/src/mono/android/app/environment.arm64-v8a.s
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/android/src/mono/android/app/environment.armeabi-v7a.s
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/android/src/mono/android/app/environment.x86.s
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/android/src/mono/android/app/environment.x86_64.s
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/android/src/mono/MonoPackageManager_Resources.java
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/designtime/build.props
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/ReplicateDesignII.Android.csprojAssemblyReference.cache
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resolvedassemblies.hash
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/P_4-0-ola568le78-13_9d5e64b2eed0e5cd
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/P_4-0-v6w5w4ke78-13_9d5e64b2eed0e5cd
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/P_5-0-74ca78le78-13_9d5e64b2eed0e5cd
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/P_5-0-vi7p05ke78-13_9d5e64b2eed0e5cd
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/P_6-0-08fp05ke78-13_9d5e64b2eed0e5cd
ReplicateDesignII/ReplicateDesignII.iOS/obj/iPhoneSimulator/Debug/ReplicateDesignII.iOS.csprojAssemblyReference.cache
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/S_h-0-t65fr5ke78-13_9d5e64b2eed0e5cd
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/S_h-0-s2t5m8le78-13_9d5e64b2eed0e5cd
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/P_g-0-z9by15ke78-13_9d5e64b2eed0e5cd
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/P_g-0-gy8a88le78-13_9d5e64b2eed0e5cd
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/P_f-0-oz3015ke78-13_9d5e64b2eed0e5cd
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/P_f-0-d8c288le78-13_9d5e64b2eed0e5cd
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/P_e-0-fd6h78le78-13_9d5e64b2eed0e5cd
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/P_e-0-e4my05ke78-13_9d5e64b2eed0e5cd
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/P_d-0-lamb78le78-13_9d5e64b2eed0e5cd
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/P_d-0-e4my05ke78-13_9d5e64b2eed0e5cd
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/P_c-0-lamb78le78-13_9d5e64b2eed0e5cd
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/P_c-0-8h9w05ke78-13_9d5e64b2eed0e5cd
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/P_b-0-eleb78le78-13_9d5e64b2eed0e5cd
ReplicateDesignII/ReplicateDesignII.Android/obj/Debug/90/resourcecache/designer-resources/P_b-0-8s1w05ke78-13_9d5e64b2eed0e5cd
