
.vs/ReplicateDesignII/v16/Server/sqlite3/storage.ide
.vs/ReplicateDesignII/v16/Server/sqlite3/db.lock
.vs/ReplicateDesignII/v16/.suo
.vs/ReplicateDesignII/DesignTimeBuild/.dtbcache
ReplicaDesignII/ReplicaDesignII/bin
ReplicaDesignII/ReplicaDesignII/obj
.vs/ReplicateDesignII/v16/Server/sqlite3/storage.ide-shm
