
.vs/ReplicateDesignI/v16/Server/sqlite3/storage.ide-wal
.vs/ReplicateDesignI/v16/Server/sqlite3/storage.ide-shm
.vs/ReplicateDesignI/v16/Server/sqlite3/storage.ide
.vs/ReplicateDesignI/v16/Server/sqlite3/db.lock
